div#page {
    position: relative;
}
.header {
    position: relative;
    box-shadow: rgb(0 0 0 / 64%) 0px 1.1px 2px 0px;
}
img {
    vertical-align: middle;
    border-style: none;
    max-height: 56px;
}
body {
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px;
}
.header-page {
    background: linear-gradient(to right,#4b09b5,#E5244A);
    padding: 8px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2000px !important;
}
.text-header {
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: sans-serif,"Open Sans";
    text-shadow: 0px 1px 2px #420101;
    max-width: 100%;
    text-align: center;
    border: 0.5px solid #5259FF;
    background-color: #5259FF;
    line-height: 2.5;
    border-radius: 4px;
}
.time-header {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}
.marquee label {
    color: #FFF;
    font-size: 18px;
}
.marquee {
    display: flex;
}
tr:nth-child(even) {
    background-color: #fcf3fd;
}
.main {
    height: auto;
}
.main-page {
    margin-top: 8px;
    height: auto;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 0.5px solid #f8f8ff;
    box-shadow: rgb(0 0 0 / 2%) 0px 1.1px 2px 0px;
}
.main-left {
    border-radius: 4px;
}
.height-main {
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    background-color: #5259FF;
    color: #FFF;
    border-radius: 2px;
}
.height-main label {
    margin-top: 10px;
    text-shadow: 2px 2px #9d5b5b;
    font-size: 24px;
}
.footer-page {
    border: 1px solid rgb(82, 89, 255);
    line-height: 45px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1.1px 3px 0px;
    background: rgb(82, 89, 255);
    margin-top: 35px;
}
.yellow{
    background-color: #49328A;
}
li.td-li {
    list-style: none;
}
.td-dv {
    line-height: 2.2;
    font-family: 'Open Sans',sans-serif;
}
.td-tech {
    color: #433c3c;
    font-size: 16px;
}
.Marquee{
    overflow: hidden;
    text-align: center;
}
label.divDV {
    font-size: 12px;
    color: #ffffff;
}
/* #header {
    text-align: center;
    color: white;
    font-size: 30px;
} */
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right,#4b09b5,#E5244A);
    color: white;
}
.MuiPaper-elevation1 {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
}
.text-id img{
    width: 14%;
}
.cty {
    text-align: center;
}
.text-id img {
    width: 79%;
}
.col-md-9 label {
    margin-top: 16px;
    font-weight: 500;
}
.branch-item li {
    font-size: 12px;
    padding-left: 0px;
    list-style: none;
}
.branch-item div{
    font-size: 12px;
    font-weight: 500;
}
.branch-item b {
    padding-left: 5px;
}
.branch-item {
    margin-top: 16px;
}
.td-li .bookingLT {
    border-radius: 29px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #FFF;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: capitalize;
    text-align: center;
    margin-left: 2px;
    line-height: 26px;
}
.td-li .bookingD {
    border-radius: 29px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #FFF;
    line-height: 2.7;
    text-align: center;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: capitalize;
}
.tbody {
    overflow: auto;
    height: 500px;
}
.td-name {
    color: #5334c9;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.phoneLeftTable {
    color: #433c3c;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
}
.td-phone {
    color: #433c3c;
    font-family: 'Open Sans',sans-serif;
}
.td-time {
    color: #433c3c;
    font-family: 'Open Sans',sans-serif;
}
.td-dv {
    line-height: 2.2;
    font-family: 'Open Sans',sans-serif;
}
.MuiTableCell-alignLeft {
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
/* .MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded {
    height: 500px;
    overflow: auto;
} */
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft {
    font-weight: 500;
}
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #d40690;
    border: 1px solid #ffffff;
}
::-webkit-scrollbar-track {
    border: 1px solid #f4f4f4;
    padding: 2px 0;
    background-color: #EDE7F6;
}
.dialogCheckout {
    max-width: 40%;
    position: absolute;
    text-align: center;
    padding-top: 4px;
    border-radius: 4px;
    margin: auto;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 400px;
}
.dialogImage img {
    max-width: 101%;
    position: relative;
    left: -4px;
    top: 2px;
}
.contentLabel label {
    position: relative;
    top: -112px;
    font-size: 29px;
    font-weight: 600;
    font-family: Google Sans;
    color: #720ca7;
}
.RoomIcon {
    font-size: 14px !important;
}
.contentLabel div {
    position: relative;
    top: -112px;
    font-size: 16px;
    font-weight: 400;
    font-family: Google Sans;
    left: 8px;
    color: #838688;
}
.dialogImage {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 8%), 0px 1px 1px 0px rgb(0 0 0 / 11%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
}
.alertCheckout {
    top: 0;
    left: 0;
    bottom: 0;
    background: #04040473;
    z-index: 10;
    position: absolute;
    right: 0;
}
/* div#content {
    height: calc(100vh - 190px);
    overflow-y: scroll;
} */
div#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.branchBooking {
    position: absolute;
    z-index: 1;
    top: 8.9%;
    left: 1.1%;
    width: 16%;
    text-align: center;
    border-radius: 4px;
    background: #FFF;
    color: #6400ff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.allCheckBranch {
    display: flex;
    flex-direction: column;
}
.itemCheckBranch {
    background: #ffffff;
    margin-bottom: 12px;
    padding: 8px 12px;
    color: #131313;
    border: 0.5px solid rgb(101 100 100 / 87%);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.itemCheckBranch:hover {
    background: #607d8b;
    color: #fff;
}

.itemCheckBranch.active {
    background: #607d8b;
    color: #fff;
}
.main-col3 {
    border: 2px solid #ccc;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.bookingChill {
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
    text-align: center;
}

.popUpPartnerTop {
    background: linear-gradient(to right,#4b09b5,#89148a);
    position: relative;
    padding: 24px 8px 6px 8px;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    height: 66px;
    margin-bottom: 8px;
}
.popUpPartner {
    /*position: fixed;
    */top: 30%;
    background: linear-gradient(to right,#5da3f0,#05e36d);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    min-width: 320px;
    color: #fff;
}
.chillSize{
    background: #03a9f4;
    border-radius: 4px;
    font-weight: bold;
    padding: 2px 8px;
}
.pop-des {
    display: flex;
    /* flex-direction: column; */
    /* padding-bottom: 12px; */
}

.waitPopup {
    position: relative;
    margin-top: -16px;
    font-weight: 500;
    font-size: 16px;
}
span.pop-position {
    display: block;
    /* margin: 8px 12px 0px 12px; */
    font-size: 13px;
    font-weight: bold;
}

.MuiTableCell-root{
    padding: 8px!important;
}

ul {
    margin: 0;
    padding: 0;
}
.itemCheckout {
    text-transform: uppercase;
    color: #473089;
    margin-bottom: 4px;
    border-radius: 4px;
    padding: 8px;
    background: linear-gradient(to right,#9884ff,#05e36d);
    margin-left: 4px;
    padding-bottom: 4px;
}
.complete {
    font-size: 16px;
    color: #ffffff;
    height: 66px;
    text-align: left;
    background: linear-gradient(to right,#b41c6f,#e3234c);
    border-radius: 4px;
    padding: 8px;
}
.consultant {
    font-size: 16px;
    color: #ffffff;
    height: 66px;
    text-align: left;
    background: linear-gradient(to right,#4b0ab4,#7b1295);
    border-radius: 4px;
    padding: 8px;
}
.treatment {
    font-size: 16px;
    color: #ffffff;
    height: 66px;
    text-align: left;
    background: linear-gradient(to right,#801292,#af1b71);
    border-radius: 4px;
    padding: 8px;
}
.itemCheckout p {
    margin-left: 8px;
    font-size: 12px;
    font-style: italic;
    color: #fffafa;
    margin-bottom: 2px;
    font-weight: normal;
}
.nameCheckout {
    background: #e38107;
    border-radius: 40px;
    color: #FFF;
    padding: 2px 12px 2px 12px;
    font-weight: 500;
}
.timeCheckout {
    background: #FFF;
    border-radius: 40px;
    padding: 4px 8px 2px 8px;
    font-size: 12px;
    color: #f00000;
    margin-left: 8px;
    font-weight: 500;
}
.chillCheckout {
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* // */
.mainHead {
    display: flex;
}
.chillBody {
    display: flex;
}
.containMain {
    padding: 4px;
}
.mainConsultant {
    padding: 4px;
}
.mainTreatment{
    padding: 4px;
}
.mainHead {
    padding: 8px;
    /* border-radius: 4px; */
    /* box-shadow: rgb(38 38 38 / 64%) 0px 1.1px 2px 0px; */
    /* height: 48px; */
    /* padding-top: 12px; */
}
.mainBody {
    height: calc(100vh - 300px);
    overflow-y: scroll;
}
.statusCheckout {
    height: calc(100vh - 252px);
    overflow-y: scroll;
}
.chillBody {
    display: flex;
    padding: 8px;
}
.chillStt {
    font-size: 14px;
}
.chillName {
    font-size: 14px;
    font-weight: 500;
   
}
.chillStatus {
    font-size: 14px;
    font-weight: 500;
}
.chillBody:nth-child(2n) {
    background: #fcf3fd;
}
.itemPhone {
    font-size: 12px;
    color: #878787;
    font-weight: normal;
    font-style: italic;
}
.itemName {
    font-size: 14px;
    color: #344a54;
    text-transform: uppercase;
}
.itemStatus {
    font-size: 14px;
}
span.pop-contact {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 12px;
    font-size: 14px;
}
.pop-name {
    text-transform: uppercase;
    font-weight: 500;
    background: #ffffff;
    padding: 2px 8px;
    border-radius: 24px;
    font-size: 12px;
    color: #c81f5e;
}